<td>
  <%= item.id %>
</td>
<td>
  <%= item.title %>
</td>
<td>
  <a class="pull-left" href="<%= item.photo.url(:thumb) %>">
    <img class="media-object" data-src="holder.js/64x64"><%= image_tag(item.photo.url(:thumb), :class => "img-responsive media-object", :alt => "Responsive image", :data => { :src => "holder.js/64x64" } ) %> 
  </a>
</td>
<td>
  <%= truncate(item.description, length: 100) %>
</td>
<td>
  <%= item.current_price %>
</td>
<td>
  <%= item.bids.size %>
</td>
<td>
  <%= listing_status(item) %>
</td>
<td>
  <%= link_to "View", listing_path(item) %>
</td>
<td>
<%= link_to 'Edit', edit_listing_path(item) %>
</td>
<td>
	<%= link_to 'Destroy', item, :method => :delete, :confirm => "Are you sure?" %>
</td>


