<td>
	<%= user.id %>
</td>
<td>
	<%= user.user_name %>
</td>
<td>
	<%= user.first_name %>
</td>
<td>
	<%= user.last_name %>
</td>
<td>
	<%= user.email %>
</td>
<td>
	<%= user.sign_in_count %>
</td>
<td>
	<%= user.last_sign_in_at %>
</td>
<td>
	<%= user.admin %>
</td>
<td>
  <%= user.credit %>
</td>
<td>
  <%= user.disabled %>
</td>
