<div class="panel">
  <!-- Default panel contents -->
  <div class="panel-heading"><h2><a href="/listings/<%=item.id%>"><%= item.title %></a></h2></div>
  <div class="item-image">
  	<a href="/listings/<%=item.id%>">
  		<%= image_tag(item.photo.url(:medium), :class => "img-responsive", :alt => "Responsive image") %> 
  	</a>
  </div>

  <p><%= truncate(item.description, length: 100) %></p>

  <!-- List group -->
  <ul class="list-group">
    
    <li class="list-group-item"><%= listing_auction_end(item) %></li>
    <li class="list-group-item"><%= item.current_price %></li>
    <li class="list-group-item"><%= "bid-button" %></li>
    <li class="list-group-item"><%= "USER" %></li>
  </ul>
</div>
