<div class="panel">
  <!-- Default panel contents -->
  <div class="panel-heading"><h2><a href="/listings/<%=item.id%>"><%= item.title %></a></h2></div>
  <div class="item-image">
  	<a href="/listings/<%=item.id%>">
  		<%= image_tag(item.photo.url(:medium), :class => "img-responsive", :alt => "Responsive image") %> 
  	</a>
  </div>

  <p><%= truncate(item.description, length: 100) %></p>

  <!-- List group -->
  <ul class="list-group">
    
    <li class="list-group-item" id="listing-timer-<%= item.id %>"></li>
    <li class="list-group-item" id="listing-price-<%= item.id %>"></li>
    <li class="list-group-item" id="listing-user-<%= item.id %>"></li>
    <li class="list-group-item">  
      <% if user_signed_in? %>
        <a id="bid-<%= item.id %>" href="#">Bid Now</a>
      <% else %>
         <a id="bid-button" href="/signin">Bid Now</a>
      <% end %>
    </li>
  </ul>
</div>


<%= render 'bid_js', listing: item  %>
