        
<div class="span8 offset2 listing-container">
    
    <div class="row-fluid">

        <div class="span8 listing-title">
        <h1><%=@listing.title%></h1>
        </div>

    </div>

    <div class="row-fluid">

        <div class="span5">
            <div class="listing-image">
                <%= image_tag("#{@listing.photo.url(:medium)}") %>
            </div>
        </div>


        <div class="span5 listing-details">
            <div class="listing-price">
                <%= number_to_currency(@listing.current_price/100.0, precision: 2, unit: "&pound;") %>
            </div>
            <div class="listing-timer">
            </div>
            <% if user_signed_in? %>
                <a id="bid-<%= params[:id] %>" href="#">Bid Now</a>
            <% else %>
                <a id="bid-button" href="/signin">Bid Now</a>
            <% end %>
            
        </div>

     </div>

     <div class="row-fluid">
        <div class="listing-description-block span8">
            <div class="listing-description">
                <p><%= @listing.description %></p>
            </div>
        </div>
    </div>
   

</div>

<%= render 'bid_js', listing: @listing %>











