<div class="listing-container">
  <div class="row-fluid">
    <div class="span6 offset3">
      <h1 class="listing-title"><%= @listing.title %></h1>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span2 offset3 listing-image">
      <%= image_tag("#{@listing.photo.url(:medium)}") %>
    </div>
    <div class="row-fluid">
        <div class="span3 well listing-box">
          <div class="left listing-box-left">
            <p id="listing-price-<%= @listing.id%>" class="listing-price">Highest bid: <strong><%= number_to_currency((@listing.current_price) /100.0, unit: '£') %></strong> </p>
            <p id="listing-timer-<%= @listing.id%>" class="listing-timer">Ending in:  </p>
          </div>
          <div class="right listing-box-right">
            <p id="listing-user-<%= @listing.id%>" class="listing-winner">Currently winning: <strong><%= @listing.current_winner %></strong> </p>
            <% if user_signed_in? %>
              <a class="btn btn-success" id="bid-<%= params[:id] %>" href="#">Bid Now</a>
            <% else %>
              <a class="btn btn-success listing-bid" id="bid-button" href="/signin">Bid Now</a>
            <% end %>
          </div>
        </div> 
    </div>
  </div>
  <div class="row-fluid">
    <div class="span6 offset3 well listing-description">
      <p><%= @listing.description %></p>
    </div>

  <div class="row-fluid span6 offset3">
   <% if is_admin? %>
        <h2>Bid History</h2>
 
        <table border="1"  class="table table-hover" id="admin-bid-history">
            <tr>
                <th>ID</th>
                <th>User</th>
                <th>Listing</th>
                <th>Current Price (p)</th>
                <th>Time Left (seconds)</th>
            </tr>
            <% @bids.each do |bid| %>
            <tr>
                <td><%= bid.id %></td>
                <td><%= bid.user.user_name %></td>
                <td><%= bid.listing.title %></td>
                <td><%= bid.listing.current_price %></td>
                <td><%= bid.listing.seconds_to_end %></td>
            </tr>
            <% end %>
        </table>
        
      <% end %>
  </div>

  </div>    
</div>
<%= render 'bid_js', listing: @listing %>
<script>

 timer((<%= @listing.seconds_to_end %> * 1000),
            function(timeleft) 
            {
              document.getElementById("listing-timer-" + <%= @listing.id %>).innerHTML = "Ending in: <strong class='pull-right'>"+secondsToTime(timeleft)+"</strong>";
            },
            function()
            {
              document.getElementById("listing-timer-" + <%= @listing.id %>).innerHTML = "Ended";
            },
            <%= @listing.id %>)
 
</script>
