<div class="span10 listing-title">
<h1><%=@listing.title%></h1>
</div>

<div class="span3">
    <div class="listing-image">
        <%= image_tag("#{@listing.photo.url(:medium)}") %>
    </div>
</div>


<div class="span3 listing-details">
    <table>
        <tr>

            <td><%= number_to_currency(@listing.current_price/100.0, precision: 2, unit: "&pound;") %></td>
        </tr>
<!--         <tr>
            <td>Finishing in</td>
            <td><%=@listing.start_date + @listing.duration %></td>
        </tr> -->
    </table> 
    <button class="btn btn-primary btn-bid">Bid Now</button>
    <div id="timer">
    </div>
   
   
</div>


<div class="listing-description-block span10">
    <div class="listing-description">
        <p><%= @listing.description %></p>
    </div>
</div>





<script>
$("#timer").countdown({until:<%= (@listing.duration - (Time.now - @listing.start_date) ).to_i %> });
</script>

