<td>
	<%= item.title %>
</td>
<td>
	<a class="pull-left" href="<%= item.photo.url(:thumb) %>">
		<img class="media-object" data-src="holder.js/64x64"><%= image_tag(item.photo.url(:thumb), :class => "img-responsive media-object", :alt => "Responsive image", :data => { :src => "holder.js/64x64" } ) %> 
	</a>
</td>
<td>
	<%= truncate(item.description, length: 100) %>
</td>
<td>
	<%= item.current_price %>
</td>




	<!-- <div class="media">
	  <a class="pull-left" href="<%= item.photo.url(:thumb) %>">
	    <img class="media-object" data-src="holder.js/64x64">
	    <%= image_tag(item.photo.url(:thumb), :class => "img-responsive media-object", :alt => "Responsive image", :data => { :src => "holder.js/64x64" } ) %> 
	  </a>
	  <div class="media-body">
	    <h4 class="media-heading"><a href="/listings/<%=item.id%>"><%= item.title %></a></h4>
	    <%= truncate(item.description, length: 100) %></p>
	 	<p><%= item.current_price %></p>
	  </div>
	</div>
 -->