<div class="span12">
	<table border="1"  class="table table-hover listings">
		<thead
		<tr>
		<th>id</th>
		<th>User Name</th>
		<th>First</th>
		<th>Last</th>
		<th>Email</th>
		<th>Sign In Count</th>
		<th>Last Seen</th>
		<th>Admin</th>
		<th>Credits</th>
		<th>Disabled</th>
		</tr>
	</thead>
		<tbody>
		  <td>
	<%= @user.id %>
</td>

<td>
	<%= @user.user_name %>
</td>

<td>
	<%= @user.first_name %>
</td>

<td>
	<%= @user.last_name %>
</td>

<td>
	<%= @user.email %>
</td>

<td>
	<%= @user.sign_in_count %>
</td>

<td>
	<%= @user.last_sign_in_at %>
</td>

<td>
	<%= @user.admin %>
</td>

<td>
	<%= @user.credit %>
</td>

<td>
	<%= @user.disabled %>
</td>


		<tbody>
	</table>
</div>

